@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Slabo+27px&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Playfair+Display:wght@400;600;700&display=swap');

body {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-animation: pulse 0.5s infinite alternate;
  background-image: url(' ../images/bg.png');
}

.containerA {
  background-image: url(' ../images/bg.png');
  min-height: 100vh;
  width: 1300px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo1,
.logo2 {
  width: 200px;
  position: absolute;
  margin-top: 200px;
}

.logo1 {
  margin-right: 700px;
}

.logo2 {
  margin-left: 700px;
}

.containerA h1 {
  color: #39CCCC;
  font-family: 'Rye', cursive;
  font-size: 60px;
}

ul li {
  font-family: 'Rye', cursive;
  color: #ffcc00;
  font-size: 30px;
  list-style-type: none;
}

#start {
  font-family: 'Rye', cursive;
  border: 3px solid #DAA520;
  margin-bottom: 40px;
}

#player1,
#player2 {
  border: 3px solid #DAA520;
  font-size: 15px;
  padding: 10px 45px;
}

.containerB h1 {
  color: #ff9900;
  font-family: 'Train One', cursive;
  font-size: 5em;
  margin-bottom: 40px;
}

span {
  color: #142952;
}

.containerB {
  width: 1000px;
  margin-left: 150px;
  display: flex;
}

.scoreboard {
  position: absolute;
  margin-top: 230px;
  margin-left: 650px;
  font-size: 1.2em;
}

#score1,
#score2,
#draw,
#highestscore {
  font-size: .9em;
  font-family: 'PT Serif', serif;
  color: #ffe699;
}

#score1 {
  margin-top: 20px;
}

.playarea {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.block {
  display: flex;
  width: 150px;
  height: 150px;
  font-weight: bold;
  border: 5px solid #010a15;
  transition: 1s;
  justify-content: center;
}

#block0, #block1, #block2 {
  border-top: none;
}

#block0, #block3, #block6 {
  border-left: none;
}

#block6, #block7, #block8 {
  border-bottom: none;
}

#block2, #block5, #block8 {
  border-right: none;
}

.block:hover {
  cursor: pointer;
  background: #660f7596;
  color: white;
}

.gamestatus {
  font-size: 1.5em;
  color: #F3E88E		;
  font-family: 'Rye', cursive;
}

.x,
.o {
  cursor: default;
  width: 150px;
  height: 150px;
  font-size: 140px;
  align-items: center;
  justify-content: center;
}

.x::before {
  content: '×';
  color: #39CCCC;
}

.o::before {
  content: '○';
  color: #ff0000;
}

.won::before {
  color: #ffeb3b;
  display: inline-block;
  animation: key1 .3s ease infinite alternate;
}

@keyframes key1 {
  0% {transform: translateY(0px);}
  100% {transform: translateY(-20px);}
}

.player1win,
.player2win,
.tiegame {
  width: 600px;
  align-items: center;
  justify-content: center;
}

.reset {
  padding: 0 10px;
  color: #e8e7e2;
  font-size: 1.2em;
  font-family: 'Rye', cursive;
  margin-top: 50px;
  border: 2px solid #b5b18b;
  margin-right: 400px;
  margin-bottom: 20px;
}

.reset:hover {
  padding: 0 10px;
  cursor: pointer;
  color: #BCC37A;
  font-family: 'Rye', cursive;
  box-shadow: 0 0 15px #e6f7ff;
  margin-right: 400px;
}

.quit {
  padding: 0 10px;
  color: #e8e7e2;
  font-size: 1.2em;
  font-family: 'Rye', cursive;
  border: 2px solid #b5b18b;
  margin-right: 400px;
}

.quit:hover {
  padding: 0 10px;
  cursor: pointer;
  color: #BCC37A;
  box-shadow: 0 0 15px #e6f7ff;
  font-family: 'Rye', cursive;
}

@media only screen and (max-width: 1024px) {
  .playarea {
    margin-top: 25px;
    grid-gap: 10px;
  }
  .block {
    height: 150px;
    width: 150px;
  }
  .x::before {
    font-size: 150px;
  }
  .o::before {
    font-size: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .containerA,
  .containerB {
    margin: 10px;
    padding: 10px;
  }
  .playarea{
    height: 100px;
    width: 100px;
  }
  .x::before {
    font-size: 50px;
  }
  .o::before {
    font-size: 50px;
  }
}
